{% extends 'base2.html' %}

{% block body %}
<div class="container-fluid">

    <div class="row">

        <div class="col-sm-12 col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Annonser deg selv som ledig utvikler</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'form_template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-5">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Hvorfor legge seg selv ut som utvikler?</h3>
                    <p>Ved å legge seg selv ut som utvikler vil besøkende av nettsiden bli eksponert for deg og din cv. Dette vil hjelpe deg å komme i kontakt med potensielle partnere.</p>
                    <p>Bare fyll ut feltene så utfyldene som mulig.</p>
                </div>
            </div>
        </div>

    </div>

</div>
{% endblock %}